<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title> CMPT276 Assignment 2 </title>
    <link rel="stylesheet" href="/stylesheets/tokimon.css" type="text/css" media="all">
    <script type="text/javascript" src="/js/tokimon.js" defer> </script>
</head>
<body>

    <ul id="navigationBar">
        <li class="navigationButton" id="homeButton"> 
            <a href="/"> Home </a>
        </li>
        <li class="navigationButton" id="addButton"> 
            <a href="/add"> Add Tokimon</a>
        </li>
        <li class="navigationButton" id="modifyButton">
            <a href="/modify"> Modify Tokimon</a>
        </li>
        <li class="navigationButton" id="modifyButton">
            <a href="/delete"> Delete Tokimon</a>
        </li>
        <li class="navigationButton" id="displayButton">
            <a href="/display"> Display All Tokimon</a>
        </li>
    </ul>

</body>
</html>