<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title> CMPT276 Assignment 2 </title>
    <link rel="stylesheet" href="/stylesheets/tokimon.css" type="text/css" media="all">
    <script type="text/javascript" src="/js/tokimon.js" defer> </script>
</head>
<body>

    <ul id="navigation">
        <li> <a href="/"> Home </a></li>
        <li> <a href="/tokimons"> Tokimons </a></li>
    </ul>

    <div class="card" id="card1">
        <div class="cardTop" id="cardTop1"></div>
        <div class="cardButtom" id="cardButtom1"></div>
    </div>

    <div class="card" id="card2">
        <div class="cardTop" id="cardTop2"></div>
        <div class="cardButtom" id="cardButtom2"></div>
    </div>

    <div class="card" id="card3">
        <div class="cardTop" id="cardTop3"></div>
        <div class="cardButtom" id="cardButtom3"></div>
    </div>

    <div class="card" id="card4">
        <div class="cardTop" id="cardTop4"></div>
        <div class="cardButtom" id="cardButtom4"></div>
    </div>

    <div class="card" id="card5">
        <div class="cardTop" id="cardTop5"></div>
        <div class="cardButtom" id="cardButtom5"></div>
    </div>

    <div class="card" id="card6">
        <div class="cardTop" id="cardTop6"></div>
        <div class="cardButtom" id="cardButtom6"></div>
    </div>

    <div class="buttons" id="buttons"></div>
</body>
</html>