<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title> CMPT276 Assignment 2 </title>
    <link rel="stylesheet" href="/stylesheets/tokimon.css" type="text/css" media="all">
    <script type="text/javascript" src="/js/tokimon.js" defer> </script>
</head>
<body>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rg6CiPI6h2g?rel=0&autoplay=1" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
</body>
</html>