<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title> CMPT276 Assignment 2 </title>
    <link rel="stylesheet" href="/stylesheets/tokimon.css" type="text/css" media="all">
    <script type="text/javascript" src="/js/tokimon.js" defer> </script>
</head>
<body>
    <div id="backgroundDiv">
        <div id="navigationBar">
            <ul>
                <li> 
                    <button type="button" class="navigationButton" id="homeButton">
                    <a class="nagivationLink" id="navigationHome" href="/"> <h6>Home</h6> </a>
                    </button>
                </li>
                <li> 
                    <button type="button" class="navigationButton" id="addButton">
                    <a class="nagivationLink" id="navigationAdd" href="/add"> <h6>Add Tokimon</h6> </a>
                    </button>
                </li>
                <li>
                    <button type="button" class="navigationButton" id="displayButton">
                    <a class="nagivationLink" id="navigationDisplay" href="/display"> <h6>Display All Tokimon</h6></a>
                    </button>
                </li>
            </ul>
        </div>

        <div class="description" id="homeDescription">
        <h1> Tokimons </h1>
        <p>
            A Tokimon is a rare creature found in the remote areas of Korea. 
            For the most part, they resemble rabbits 
            and the only form of communication they have with us
            is the ability to say their own name. 
            Tokimons come in all shapes and sizes, 
            have special abilities, 
            and tend to fight with each other on occasion. 
            Each Tokimon could have the ability to 
            fly, fight, throw fire, spray water, electrify, and freeze other Tokimons; 
            their ability is measured by an integer between 0 and 100. 
            Because they are such primitive creatures but have such extraordinary abilities, 
            they need Tokimon trainers. 
            The trainer’s job is to collect Tokimons and use them accordingly.
        </p>

        <h2> Examples of Tokimons </h2>
        </div>
            <div id="cardRegion">
                <table id="cardTable">
                    <td class="cardData" id="cardData1">
                        <div class="card" id="card1">
                            <h3 class="cardTitle" id="cardTitle1"> Flying Tokimon </h3>
                            <div class="cardTop" id="cardTop1">
                                <img src="/pictures/Sylveon.png" alt="Flying Tokimon" class="cardPic" id="cardPic1">
                            </div>
                            <div class="cardButtom" id="cardButtom1">
                                <p>
                                    Flying-type Tokimons have an advantage over fighting-type Tokimons, but are weak
                                    against ice-type Tokimons.
                                </p>
                            </div>
                        </div>
                    </td>

                    <td class="cardData" id="cardData2">
                        <div class="card" id="card2">
                            <h3 class="cardTitle" id="cardTitle2"> Fighting Tokimon</h3>
                            <div class="cardTop" id="cardTop2">
                                <img src="/pictures/Umbreon.png" alt="Fighting Tokimon" class="cardPic" id="cardPic2">
                            </div>
                            <div class="cardButtom" id="cardButtom2">
                                <p>
                                    Fighting-type Tokimons have an advantage over electric-type Tokimons, but are weak
                                    against flying-type Tokimons.
                                </p>
                            </div>
                        </div>
                    </td>

                    <td class="cardData" id="cardData3">
                        <div class="card" id="card3">
                            <h3 class="cardTitle" id="cardTitle3"> Fire Tokimon </h3>
                            <div class="cardTop" id="cardTop3">
                                <img src="/pictures/Flareon.png" alt="Fire Tokimon" class="cardPic" id="cardPic3">
                            </div>
                            <div class="cardButtom" id="cardButtom3">
                                <p>
                                    Fire-type Tokimons have an advantage over ice-type Tokimons, but are weak
                                    against water-type Tokimons.
                                </p>
                            </div>
                        </div>
                    </td>
                </table>
                    <span id="cardSpace"> </span>
                <table>
                    <td class="cardData" id="cardData4">
                        <div class="card" id="card4">
                            <h3 class="cardTitle" id="cardTitle4"> Water Tokimon </h3>
                            <div class="cardTop" id="cardTop4">
                                <img src="/pictures/Vaporeon.png" alt="Water Tokimon" class="cardPic" id="cardPic4">
                            </div>
                            <div class="cardButtom" id="cardButtom4">
                                <p>
                                    Water-type Tokimons have an advantage over fire-type Tokimons, but are weak
                                    against electric-type Tokimons.
                                </p>
                            </div>
                        </div>
                    </td>

                    <td class="cardData" id="cardData5">
                        <div class="card" id="card5">
                            <h3 class="cardTitle" id="cardTitle5"> Electric Tokimon </h3>
                            <div class="cardTop" id="cardTop5">
                                <img src="/pictures/Jolteon.png" alt="Electric Tokimon" class="cardPic" id="cardPic5"> 
                            </div>
                            <div class="cardButtom" id="cardButtom5">
                                <p>
                                    Electric-type Tokimons have an advantage over water-type Tokimons, but are weak
                                    against fighting-type Tokimons.
                                </p>
                            </div>
                        </div>
                    </td>

                    <td class="cardData" id="cardData6">
                        <div class="card" id="card6">
                            <h3 class="cardTitle" id="cardTitle6"> Ice Tokimon </h3>
                            <div class="cardTop" id="cardTop6">
                                <img src="/pictures/Glaceon.png" alt="Ice Tokimon" class="cardPic" id="cardPic6">
                            </div>
                            <div class="cardButtom" id="cardButtom6">
                                <p>
                                    Ice-type Tokimons have an advantage over flying-type Tokimons, but are weak
                                    against fire-type Tokimons.
                                </p>
                            </div>
                        </div>
                    </td>
                </table>
            </div>
    </div>
</body>
</html>